@{
    ViewData["Tirle"]="Layout";
}
<h1>Layout</h1>
<a href='@Url.Action("","")' alt=""></a>

<a href='@Url.Action("Index")'></a>
<a href='@Url.Action("Elecciones")'></a>
<a href='@Url.Action("Creditos")'></a>