@{
    ViewData["Tirle"]="AgregarCandidato";
}
<h1>Agregar Candidato</h1>

<a href='@Url.Action("AgregarCandidato","Candidato")' alt="">Agregar Candidato</a>
<a href='@Url.Action("VerDetalleCandidato","DetalleCandidato")' alt="">Ver Detalle Del Candidato</a>
<a href='@Url.Action("VerDetallePartido","DetallePartido")' alt="">Ver Detalle Del Partido</a>
<a href='@Url.Action("Creditos","Creditos")' alt="">Creditos</a>