
     <link rel="stylesheet" href="style.css"> 

    @{
    ViewData["Title"]="Creditos";
}
<h1>Creditos</h1>
<div>
    <h1>Eitan Toporovskaja</h1>
    <p>Desarrollador frontent y backend</p>
    <img src="~/imgs/Eitan.jfif">
</div>
