
     <link rel="stylesheet" href="style.css"> 

    @{
    ViewData["Tirle"]="Elecciones";
}
<nav class="Navegador">
    <ul>
        <li><a href="Index.html"><img src="wwwroot/imgs/BanderaArgentina.jfif">Home</a></li>
        <li><a href="Elecciones.html"></a>Elecciones</li>
        <li ><a href="Creditos.html"></a>Creditos</li>
    </ul>
</nav>
