
     <link rel="stylesheet" href="style.css"> 

    @{
    ViewData["Tirle"]="Elecciones";
}
<nav class="Navegador">
    <ul>
        <li><a href="Index.html"><img src="~/imgs/BanderaArgentina.jfif"></a></li>
        <li><a href='@Url.Action("Elecciones")'></a>Elecciones</li>
        <li><a href='@Url.Action("Creditos")'></a>Creditos</li>
    </ul>
</nav>
