
     <link rel="stylesheet" href="style.css"> 

   @{
    ViewData["Title"] = "Index";
}


<h1>TP XI - Index</h1>
@foreach (Partido i in ViewBag.ListarPartido)
{
    <h1>@i.Nombre</h1>
    <img src="@i.Logo">
    <a href='@Url.Action("VerDetallePartido","Home",new {i.IdPartido})' alt="">Ver detalle candidato</a>
}
 