<header>
     <link rel="stylesheet" href="style.css"> 
</header>
<body>
   @{
    ViewData["Title"] = "Index";
}
<nav class="Navegador">
        <ul>
            <li><a href="Index.html">Home</a></li>
            <li><a href=".html">Discos</a></li>
            <li class="Presente"><a href="Creditos.html">Do you know?</a></li>
        </ul>
    </nav>
<h1>TP XI - Index</h1>

<a href='@Url.Action("VerDetalleCandidato","IdCandidato")' alt=""></a> 
</body>
