
     <link rel="stylesheet" href="style.css"> 

   @{
    ViewData["Title"] = "Index";
}
<nav class="Navegador">
    <ul>
        <li><a href="Index.html"><img src="~/wwwroot/imgs/BanderaArgentina.jfif">Home</a></li>
        <li><a href="Elecciones.html"></a>Elecciones</li>
        <li ><a href="Creditos.html"></a>Creditos</li>
    </ul>
</nav>

<h1>TP XI - Index</h1>
@foreach (Partido i in ViewBag.ListarPartido)
{
    <h1>@i.Nombre</h1>
    <h1>@i.Logo</h1>
    <a href='@Url.Action("VerDetallePartido","Homa",new {i.IdPartido})' alt=""></a>
}
 